/* src/styles/main.css */

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f0f2f5;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Убираем полосы прокрутки */
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

input[type="file"] {
  cursor: pointer;
}

button {
  cursor: pointer;
}

pre {
  margin: 0;
}

.controls-panel {
  width: 100%;
}

/* Дополнительные стили для устранения переполнения */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
